*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    margin: auto;
    height: 480px;
    width: 480px;
    border-collapse: collapse;

}
th, td {
    border: 2px solid #101010;
    padding: 5px;
    text-align: center;
    height: 60px;
    width: 60px;
    vertical-align: middle;
}
th {
    background-color: #995858;
    height: 60px;
    width: 60px;
}
h2 {
    text-align: center; 
    color: rgb(166, 237, 235);
    margin: 20px;
}
