*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    margin: auto;
    height: 480px;
    width: 480px;
    border-collapse: collapse;
    align-items: center;
}
th, td {
    border: 2px solid #101010;
    padding: 5px;
    text-align: center;
    height: 60px;
    vertical-align: middle;
}
th {
    background-color: #f2f2f2;
}
h2 {
    text-align: center; 
    color: rgb(0, 0, 139);
    margin: 20px;
}
